*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-wrapper .image-list{
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .image-list .image-item{
    width: 325px;
    height: 400px;
    object-fit: cover;
}